body {
    width: 1200px;
    margin: auto;
    margin-top: 10px;
}

header {
    width: 1200px;
    border: 0px solid black;
    background-color: yellowgreen;
}

.textoheader {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    color: rgb(53, 52, 52);
}

.logo {
    width: 50px;
    height: 50px;
    border: 0px solid black;
    padding-top: 6px;
}

.miheader {
    display: flex;
    justify-content: center;
    border: 0px solid blue;
    width: 1200px;
}

.enlaces {
    color: white;
    text-decoration: none;

}

.menu {
    border: 0px solid black;
    height: 20px;
    background-color: olive;
    padding: 4px;

}
 
.imagenpromocional { 
    width: 1200px;
    height: 315px;
    object-fit: cover;
}

.lugares {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    border:0px solid coral;
    padding-top: 20px;
    padding-bottom: 20px;
    

}

#casasrurales {
  
    border-radius: 20px 0px 20px 0px;
    background-color: rgb(240, 245, 104);
    padding: 20px;
    border: 3px solid rgb(86, 86, 16);
    
}

.tituloscontenido { 
    font-family: Arial, Helvetica, sans-serif;
    font-size:25px;
    font-weight: bold;
}

.logos{
    width: 50px;
    border:0px solid violet;
}

.contenido{
    border:0px solid violet;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:15px;  
    padding-bottom: 30px;
    margin-top: 10px;
}

#camping { 
    
    border-radius: 20px 0px 20px 0px;
    background-color: rgb(171, 249, 151);
    border: 3px solid rgb(17, 138, 31);
    padding: 20px;
}


#hoteles{
    border-radius: 20px 0px 20px 0px;
    background-color: rgb(149, 198, 247);
    padding: 20px;
    border: 3px solid rgb(0, 75, 122);
    padding-bottom:20px;
}

.opiniones {
    border-top: 6px solid rgb(60, 60, 60);
    border-bottom: 6px solid rgb(60, 60, 60);
    background-color:lightgray;
    height: 400px;
    margin-top:20px;
    margin-bottom: 10px;
}


#puntuaciones { 
    display: flex;
    flex-direction: column;
    padding-left:20px;
    padding-right: 20px;
}

.tituloopiniones {
    font-family: Arial, Helvetica, sans-serif;
    font-size:15px;
    font-weight: bold;
    color:rgb(34, 34, 34);
}

.comentarios {
    color:rgb(34, 34, 34); 
    padding-top: 10px;
    border:0px solid blue;
}

.logohombre{
    width: 80px;
    
}

.logomujer{
    width: 80px;
}

.estrellashombre{
    width: 25px;
    padding-bottom: 10px;
}


.estrellasmujer{
    width: 25px;
    padding-bottom: 10px;
}

.colortxt{
    font-family: Arial, Helvetica, sans-serif;
    font-size:15px;
    padding-left:15px;
    color:rgb(34, 34, 34);
}